@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1 class="display-3">Hello, Kaunas Coding School!</h1>
        <p class="lead">Tai mano paprasta programa, skirta sporto klubo klientų, bei treniruočių, valdymui.</p>
        <hr class="my-4">
        <p>Pasitelktos tehnologijos: ASP.NET MVC, C#, cshtml, Database first workflow. </p>
    </div>

<div class="row">
    <div class="card border-secondary mb-3" style="max-width: 22rem;">
        <div class="card-header">Idėja</div>
        <div class="card-body">
            <p class="card-text">- Galimybė treneriam valdyti klientų sarašą ir treniruotes</p>
            <p class="card-text">- Galimybė klientams užsirašyti į norimas treniruotes</p>
        </div>
    </div>
    <div class="card border-secondary mb-3" style="max-width: 22rem;">
        <div class="card-header">Efektyvumas</div>
        <div class="card-body">
            <p >-Naujų klientų kūrimas</p>
            <p >-Registracija, Login</p>
            <p >-Slaptažodžio hash</p>
            <p >-Registrqacijos patvirtinimo email</p>
            <p >-Priskirtos rolės</p>

        </div>
    </div>
    <div class="card border-danger mb-3" style="max-width: 22rem;">
        <div class="card-header">Trūkumai</div>
        <div class="card-body">
            <p class="card-text">-Neveikia galimybė užsirašyti į treniruotes</p>
            <img src="~/img/3o4o4n.jpg" />
        </div>
    </div>
</div>